<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otp-verify</title>
</head>
<body>
    <h1>otp is sent to <%= data.email %> </h1>
    <form action="/otp-verify" method="post">
        <h2>Plase enter the otp</h2>
        <input type="text" name="otp" placeholder="otp">
        <input type="text" name="newpass" placeholder="Enter new password">
        <input type="hidden" value=<%= data.email %> name="email" >
        <button type="submit">Verify</button>
    </form>
</body>
</html>